# Marcar o script de geração como 'vendored' para que não conte nas estatísticas de linguagem
generate_examples.py linguist-vendored

# Forçar o reconhecimento de linguagens específicas para evitar ambiguidades
examples/*.alg linguist-language=ALGOL
examples/*.apl linguist-language=APL
examples/*.awk linguist-language=Awk
examples/*.bas linguist-language=BASIC
examples/*.bc linguist-language=bc
examples/*.bef linguist-language=Befunge
examples/*.boo linguist-language=Boo
examples/*.ceylon linguist-language=Ceylon
examples/*.chpl linguist-language=Chapel
examples/*.coffee linguist-language=CoffeeScript
examples/*.cl linguist-language="Common Lisp"
examples/*.coq linguist-language=Coq
examples/*.cu linguist-language=CUDA
examples/*.dylan linguist-language=Dylan
examples/*.e linguist-language=Eiffel
examples/*.elm linguist-language=Elm
examples/*.el linguist-language="Emacs Lisp"
examples/*.factor linguist-language=Factor
examples/*.fan linguist-language=Fantom
examples/*.fish linguist-language="Fish Shell"
examples/*.gd linguist-language=GDScript
examples/*.glsl linguist-language=GLSL
examples/*.m linguist-language="GNU Octave"
examples/*.hack linguist-language=Hack
examples/*.hx linguist-language=Haxe
examples/*.hlsl linguist-language=HLSL
examples/*.icn linguist-language=Icon
examples/*.idr linguist-language=Idris
examples/*.io linguist-language=Io
examples/*.ijs linguist-language=J
examples/*.janet linguist-language=Janet
examples/*.jinja linguist-language=Jinja
examples/*.lol linguist-language=LOLCODE
examples/*.mercury linguist-language=Mercury
examples/*.mojo linguist-language=Mojo
examples/*.monkey linguist-language=Monkey
examples/*.moon linguist-language=MoonScript
examples/*.n linguist-language=Nemerle
examples/*.5c linguist-language=Nickle
examples/*.ob linguist-language=Oberon
examples/*.odin linguist-language=Odin
examples/*.pike linguist-language=Pike
examples/*.purs linguist-language=PureScript
examples/*.rkt linguist-language=Racket
examples/*.raku linguist-language=Raku
examples/*.red linguist-language=Red
examples/*.rexx linguist-language=Rexx
examples/*.ring linguist-language=Ring
examples/*.sd7 linguist-language=Seed7
examples/*.zsh linguist-language=Zsh
examples/*.ksh linguist-language=KornShell
